<%= simple_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @booking.booking_tours.each do |bt| %>
        <h3>
          <%= bt.tour.name %> - <%= bt.tour.price %>
        </h3>
        <br>
    <% end %>

  <div class="field">
    <%= f.label :from_time %><br>
    <%= f.datetime_select :from_time %>
  </div>
  <div class="field">
    <%= f.label :to_time %><br>
    <%= f.datetime_select :to_time %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm and Book" %>
  </div>
<% end %>
