<div class="row">


  <% @guides.order('first_name ASC').each do |guide| %>
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <div class="col-xs-8">

            <h2 class="text-center"><%= "#{guide.first_name} #{guide.last_name}" %></h2>
            <p>
              <%= guide.profile %>
            </p>

          </div>
          <div class="col-xs-4">
            <h2><%= guide.email %></h2>
            <%= image_tag(guide.avatar_url , :width => 200 , :height => 150) if guide.avatar? %>
            <% if guide == current_user %>
              <%= simple_form_for(guide, :url => user_path(:id => guide), :method => :patch) do |f| %>
                  <%= f.file_field :avatar %>
                  <%= f.submit %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="text-center">
          <%= link_to "Book", "/users/#{guide.id}/guide_profile", :class => "btn btn-success btn-lg" %>
        </div>
        <hr>
      </div>
      <br>
      <br>
  <% end %>

</div>