<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Guide user:</strong>
  <%= @booking.guide_user_id %>
</p>

<p>
  <strong>From time:</strong>
  <%= @booking.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @booking.to_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @booking.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @booking.updated_at %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @booking.confirm %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
